.select-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:80vh;
  .choose-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    input{
      width: 25%;
      height: 50%;
      font-size: 4vw;
      background: white;
      border: 5px solid #99999950;
      color: #99999950;
    }
   & + &{
    margin-top: 5%;
   }
   
  }
  
}

.result-section{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  align-items: center;
  
}