$tablet: 768px;
$laptop: 1020px;
$desktop: 1400px;


.App{
  background-color: #fff;
  max-width: 980px;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  flex-direction: column;

}

*{
  margin: 0;
  
}